@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Ubuntu', sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
overflow: hidden;
margin: 0;
}

.bg{
    background:url('../img/blurimg.jpg');
    position:absolute;
    background-repeat: none;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index:-1;
    filter:blur(0px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}